@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.parent{
  height: 100vh;
  width: 100%;
  background-color: #1111;
  padding: 30px;
  color: #1a1a1a;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
}

.card{
  height: 290px;
  width: 240px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
}

.card .top{
  display:flex;
  align-items: center;
  justify-content: space-between;

}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 4px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #6d6d6d;
}

.center{
  padding-top: 10px;
  gap: 2px;
  
}

.center h3{
  font-size: 18px;
  font-weight: 900;
  padding-top: 18px;
  margin: 0px;
}

.center h2{
  font-size: 21px;
  font-weight: 900;
  margin: 0px;
  -webkit-text-stroke: 0.5px black;
}


.center h3 span{
  font-size: 10px;
  font-weight: 600;
  color: #8b8b8b;
  margin: 0px;

}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
  margin: 0px;
}

.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color:#111;
  font-weight: 700;
  padding: 3px 6px;
  margin: 0px;
  border-radius: 5px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 10px ;
  margin: 0px;
}

.bottom h3{
  font-size: 18px;
  font-weight: 900;
  margin: 0px;
  -webkit-text-stroke: 0.2px black;
}

.bottom p{
  margin: 0px;
  color: #7c7c7c;
  font-size: 14px;
}

.bottom button{
  background: rgb(29, 29, 29);
  color: white;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  padding: 10px;
}


