/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

/* BODY */

body{
    min-height:100vh;
    background:
        radial-gradient(circle at top,#111 0%,#050505 60%);
    color:white;
    padding:40px;
}

/* SEARCH */

.search{
    display:block;
    margin:0 auto 50px auto;
    width:260px;
    padding:14px 20px;

    border:none;
    outline:none;
    border-radius:40px;

    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(12px);
    color:white;

    box-shadow:
        0 10px 25px rgba(0,0,0,.5),
        inset 0 0 10px rgba(255,255,255,.05);

    transition:.3s;
}

.search:focus{
    transform:scale(1.05);
}

/* CARD CONTAINER */

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

/* CARD */

.card{
    width:200px;
    height:320px;
    border-radius:22px;
    overflow:hidden;
    position:relative;
    cursor:pointer;

    transition:all .45s cubic-bezier(.2,.8,.2,1);

    box-shadow:0 15px 35px rgba(0,0,0,.7);
}

/* IMAGE */

.card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.6s;
}

/* GRADIENT OVERLAY */

.card::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:65%;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.95),
        rgba(0,0,0,.4),
        transparent
    );
}

/* TEXT */

.card-content{
    position:absolute;
    bottom:15px;
    left:15px;
    right:15px;
    z-index:2;
}

.card-content h3{
    font-size:16px;
    margin-bottom:4px;
}

.card-content p{
    font-size:12px;
    opacity:.8;
}

/* HOVER EFFECT */

.card:hover{
    transform:translateY(-18px) scale(1.06);
    box-shadow:0 35px 70px rgba(0,0,0,.95);
}

.card:hover img{
    transform:scale(1.15);
}